@charset "UTF-8";

@font-face {
    font-family: 'symbols-nerds';
    src: url('font/symbols-nerds.eot?94604853');
    src: url('font/symbols-nerds.eot?94604853#iefix') format('embedded-opentype'),
    url('font/symbols-nerds.woff?94604853') format('woff'),
    url('font/symbols-nerds.ttf?94604853') format('truetype'),
    url('font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*korrespondent*/
[class^="icon_"]:before, [class*=" icon_"]:before {
    font-family: "symbols-nerds";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon_basket:before { content: '\62'; } /* 'b' */
.icon_facebook:before { content: '\66'; } /* 'f' */
.icon_twitter:before { content: '\74'; } /* 't' */
.icon_vk:before { content: '\76'; } /* 'v' */
.icon_up-dir:before { content: '\25b2'; } /* '▲' */
.icon_down-dir:before { content: '\25bc'; } /* '▼' */
.icon_circle:before { content: '\25cb'; } /* '○' */
.icon_circle-dot:before { content: '\25cf'; } /* '●' */
.icon_check-off:before { content: '\2610'; } /* '☐' */
.icon_check-on:before { content: '\e800'; } /* '' */
.icon_instagramm:before { content: '📷'; } /* '\1f4f7' */


@font-face {
    font-family: "Roboto-Light";
    src: url("font/Roboto-Light.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("font/Roboto-Medium.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("font/Roboto-Thin.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}


html,body {
    margin: 0;
    bottom: 0;
}

body {
    font: 100% "Roboto-Medium", sans-sarif;
    color: #000;
    background: #fff;
}

a,h2,h3,h4,p,ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: inherit;
    list-style: none;
}

.header {
    background: #eee;
    margin-bottom: 82px;
    min-height: 436px;
}

.header.catalog {
    min-height: 328px;
}

.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
}

.container .wrapper_nav {
    width: 100%;
}

.wrapper_nav .logo {
    float: left;
    margin-top: 28px;
}

.wrapper_nav .nav_menu {
    float: right;
    display: block;
    margin-top: 55px;
}

.nav_menu .section_menu {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 87.5%;
    vertical-align: bottom;
    margin-right: 40px;
}

.nav_menu .section_menu:hover {
    color: #fb565a;
}

.nav_menu .section_menu:active {
    color: #bdbdbd;
}

.nav_menu .section_menu:last-child {
    margin-right: 0;
    margin-left: 28px;
}

.section_menu .icon_basket {
    margin-right: 10px;
    font-size: 100%;
    color: inherit;
}

.container .slide {
    position: relative;
    width: 880px;
    height: 352px;
}

.container .slide_control {
    position: absolute;
    bottom: 94px;
    left: 50%;
    margin-left: -60px;
    width: 100px;
    height: 10px;
    text-align: center;;
    z-index: 10;
}

.slide_control .section_slide {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 4px;
    height: 4px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.slide_control .active {
    background: #c1c1c1;
}

.slide .slides {
    width: 100%;
}

.slides .inner_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.inner_slide .info_slide {
    width: 480px;
}

.info_slide .title {
    margin-top: 72px;
    line-height: 36px;
    font-size: 225%;
    margin-bottom: 20px;
}

.text {
    color: #283136;
    font-family: "Roboto-Light", sans-serif;
    margin-bottom: 26px;
}

.btn {
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    font-size: 75%;
    text-transform: uppercase;
}

.btn_info {
    padding: 14px 70px;
    background: #fb565a;
}

.btn_info:hover {
    background: #d6494d;
}

.btn_info:active {
    background: #b63538;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
}

.slides .inner_slide:nth-child(1) {
    background: url("../img/slide_1.png") 100% 52px no-repeat;
}

.slides .inner_slide {
    display: none;
}

.slides .inner_slide:nth-child(1) {
    display: block;
}

.slides .inner_slide:nth-child(2) {
    background: url("../img/slide_2.png") 100% 56px no-repeat;
}

.slides .inner_slide:nth-child(3) {
    background: url("../img/slide_3.png") 100% 42px no-repeat;
}

.container .content {
    width: 100%;
    margin-bottom: 80px;
}

.content .section_content {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.btn_web_site {
    background: #fb565a;
}

.btn_web_site:hover {
    background: #d6494d;
}

.btn_web_site:active {
    background: #b63538;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
}

.btn_apps {
    background: #00ca74;
}

.btn_apps:hover {
    background: #01a25e;
}

.btn_apps:active {
    background: #009053;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
}

.btn_presentation {
    background: #efc84a;
}

.btn_presentation:hover {
    background: #d6ae2c;
}

.btn_presentation:active {
    background: #c09b24;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
}

.section_content .img_content {
    margin-bottom: 25px;
}

.content .section_content:last-child {
    margin-right: 0;
}

.section_content .title {
    font-size: 112.5%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background: #eee;
    border: none;
    margin: 0;
}

.container .about_us {
    width: 100%;
    margin-top: 75px;
}

.about_us .info_company {
    margin-bottom: 44px;
    width: 100%;
}

.about_us .column_left {
    float: left;
    width: 560px;
}

.about_us .column_right {
    float: right;
    width: 240px;
}

.info_company .title {
    line-height: 36px;
    font-size: 225%;
    margin-bottom: 25px;
}

.about_us .title_small {
    text-transform: uppercase;
    color: #283136;
    margin-bottom: 25px;
}

.about_us .logo_big {
    margin-left: 25px;
    margin-bottom: 25px;
}

.wrapper_years {
    width: 100%;
    text-align: center;
    margin-bottom: 65px;
}

.years {
    position: relative;
    display: inline;
    z-index: 2;
    padding: 0 14px;
    background: #fff;
    text-transform: uppercase;
}

.wrapper_years::after {
    content: "";
    display: block;
    position: relative;
    top: -10px;
    border-bottom: 2px solid #eee;
    z-index: 1;
}

.about_us .work_info {
    width: 100%;
    margin-bottom: 80px;
}

.about_us .part {
    position: relative;
    padding-left: 37px;
    font-family: "Roboto-Light", sans-serif;
    color: #283136;
}

.about_us .part::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.container .partners {
    margin-top: 43px;
    margin-bottom: 37px;
}

.partners .part {
    display: inline-block;
    margin-right: 120px;
    text-align: center;
    vertical-align: middle;
    opacity: .2;
}

.partners .part:hover {
    opacity: 1;
}

.partners .part:nth-child(3n) {
    margin-right: 0;
}


.content_map {
    width: 100%;
    margin-top: 85px;
    margin-bottom: 77px;
}

.content_map .wrapper_map {
    position: relative;
    background: #eee;
    margin: 0 auto;
    width: 1200px;
}

#map {
    position: relative;
    width: 1200px;
    height: 416px;
    z-index: 1;
}

.block_address {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 88px;
    margin-left: 160px;
    width: 196px;
    background: #fff;
    padding: 28px 22px;
    z-index: 2;
}

.block_address .title {
    margin-bottom: 15px;
}

.block_address .city {
    margin-bottom: 0;
}

.block_address .btn_map {
    background: #fb565a;
    vertical-align: middle;
    text-align: center;
    padding: 11px 0;
    width: 100%;
}

.block_address .btn_map:hover {
    background: #d6494d;
}

.block_address .btn_map:active {
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
    background: #b63538;
}

footer {
    margin-bottom: 75px;
}

.container .social {
    float: left;
}

.social .icon {
    display: inline-block;
    background: #c1c1c1;
    background-position: center;
    color: #fff;
    font-size: 143.75%;
    margin-right: 22px;
    text-align: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.social .icon_vk, .icon_facebook, .icon_instagramm {
    display: inline-block;
    padding-top: 15px;
}

.social .icon_vk {
    position: relative;
    left: -2px;
}


.social .icon:hover{
    background: #fb565a;
}

.social .icon:active {
    background: #d6494d;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,.2);
}

.social .icon:last-child {
    margin-right: 0;
}

.container .stock {
    float: right;
}

.stock .title {
    font-size: 225%;
}

.write_us {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    margin-bottom: -180px;
    margin-left: -285px;
    width: 630px;
    background: #fff;
    z-index: 11;
}

.write_us_show {
    display: block;
}

.write_us_form {
    padding: 56px 85px;

}

.write_us_form .title_input {
    font-family: inherit;
    margin-bottom: 8px;
}

.write_us_form .block_header {
    width: 100%;
    margin-bottom: 23px;
}

.write_us_form .block_message {
    width: 100%;
    margin-bottom: 48px;
}

.write_us_form .block_btn {
    width: 100%;
}

.write_us_form .name:focus {
    border-color: #56bffb;
}

.write_us_form .email:focus {
    border-color: #56bffb;
}

.write_us_form .message:focus {
    border-color: #56bffb;
}

.block_header .block_name {
    float: left;
}

.block_header .block_email {
    float: right;
}

.block_name .name, .email {
    width: 188px;
    padding: 7px 14px;
    outline: none;
    border: 2px solid #d7dcde;
    font-size: 75%;
    border-radius: 3px;
}

.block_message .message {
    width: 428px;
    height: 110px;
    padding: 7px 14px;
    outline: none;
    border: 2px solid #d7dcde;
    font-size: 75%;
    border-radius: 3px;
}

.block_btn .btn_submit {
    float: left;
    padding: 0;
    background: #fb565a;
    width: 220px;
    height: 38px;
    border: none;
}

.block_btn .btn_submit:hover {
    background: #d6494d;
}

.block_btn .btn_submit:active {
    background: #b63538;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
}

.block_btn .btn_cancel {
    float: right;
    padding: 0;
    background: #f1f1f1;
    color: #000;
    width: 220px;
    height: 38px;
    border: none;
}

.block_btn .btn_cancel:hover {
    background: #e5e5e5;
}

.block_btn .btn_cancel:active {
    background: #d5d5d5;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
}

.header .wrapper_header_text {
    margin-top: 68px;
    margin-bottom: 88px;
}

.wrapper_header_text .header_text {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.catalog_column_left {
    width: 240px;
    float: left;
}

.nav_form .filter {
    width: 100%;
    margin-bottom: 48px;
}

.nav_form .filter:last-child {
    margin-bottom: 0;
}

.nav_form .title {
    font-size: 125%;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.filter .cost_controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 20px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.cost_controls .scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.scale .filling {
    background: #00ca74;
    height: inherit;
}

.cost_controls .toggle {
    position: absolute;
    top: 29px;
    left: 10px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    box-shadow: 0 2px 0 0 rgba(0,1,1,.4);
    border-radius: 50px;
    cursor: pointer;
}

.cost_controls .min_toggle {
    margin-left: 0px;
}

.cost_controls .max_toggle {
    margin-left: 200px;
}

.price_controls {
    width: 100%;
    color: #000;
    font-family: "Roboto-Light", sans-serif;
    text-transform: uppercase;
}

.price_controls .control {
    width: 80px;
    outline: none;
    border: none;
    padding: 12px 0;
    text-align: center;
    border-radius: 5px;
    background: #f1f1f1;
    margin-left: 10px;
}

.price_controls .from {
    float: left;
}

.price_controls .to {
    float: right;
}

.grid_controls .item {
    display: none;
}

.grid_controls .item[type="radio"]+.item_label {
    position: relative;
    display: block;
    font-family: "Roboto-Light", sans-serif;
    line-height: 100%;
    margin-bottom: 20px;
    padding-left: 35px;
    cursor: pointer;
    color: #283136;
}

.grid_controls .item[type="radio"]+.item_label:hover {
    color: #000;
}

.grid_controls .item[type="radio"]+.item_label::before {
    content: "\25cb";
    font-family: symbols-nerds;
    position: absolute;
    font-size: 156%;
    top: 0;
    left: 0;
    color: #c1c1c1;
}

.grid_controls .item[type="radio"]:hover+.item_label::before {
    color: #b5b5b5;
}

.grid_controls .item[type="radio"]:checked+.item_label::before {
    content: "\25cf";
}

.grid_controls .item[type="radio"]:disabled+.item_label {
    color: #e9e9e9;
}

.grid_controls .item[type="radio"]:disabled+.item_label::before {
    color: #e9e9e9;
}

.features_controls .item {
    display: none;
}

.features_controls .item[type="checkbox"]+.item_label {
    position: relative;
    display: block;
    font-family: "Roboto-Light", sans-serif;
    line-height: 100%;
    margin-bottom: 20px;
    padding-left: 35px;
    cursor: pointer;
    color: #283136;
}

.features_controls .item[type="checkbox"]+.item_label:hover {
    color: #000;
}

.features_controls .item[type="checkbox"]+.item_label::before {
    content: "\2610";
    font-family: symbols-nerds;
    position: absolute;
    font-size: 156%;
    top: 0;
    left: 0;
    color: #c1c1c1;
}

.features_controls .item[type="checkbox"]:hover+.item_label::before {
    color: #b5b5b5;
}

.features_controls .item[type="checkbox"]:checked+.item_label::before {
    content: "\e800";
}

.features_controls .item[type="checkbox"]:disabled+.item_label {
    color: #e9e9e9;
}

.features_controls .item[type="checkbox"]:disabled+.item_label::before {
    color: #e9e9e9;
}

.features_controls .item.clock {

}

.container .catalog_column_right {
    float: right;
    width: 560px;
}

.catalog_column_right .sorting_nav {
    width: 100%;
    margin-bottom: 54px;
}

.sorting_nav .title {
    display: inline-block;
    font-size: 75%;
    text-transform: uppercase;
    margin-right: 40px;
}

.sorting_nav .filter {
    font-size: 75%;
    color: #ddd;
    text-transform: uppercase;
    border-bottom: 1px dotted #00ca74;
    margin-right: 46px;
}

.sorting_nav .filter:hover {
    color: #000;
    border-bottom: 1px solid #00ca74;
}

.sorting_nav .active:hover {
    border: none;
}

.sorting_nav .filter:active {
    border: none;
}

.sorting_nav .active {
    border-bottom: none;
    color: #000;
}

.sorting_nav .arrows {
    float: right;
    display: inline-block;

}

.arrows .arrow_back::before {
    content: "\25bc";
    color: #c1c1c1;
}

.arrows .arrow_up::before {
    content: "\25b2";
    color: #c1c1c1;
}

.arrows .active::before {
    color: #00ca74;
}

.goods .item {
    position: relative;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    background: #eee;
}

.goods .item .dots {
    position: absolute;
    display: block;
    top: -30px;
    left: 0;
    border-radius: 5px 5px 0 0;
    width: 239px;
    height: 10px;
    padding: 10px 0;
    background: #f1f1f1;
}

.goods .item .dot::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.goods .item i:first-child::before {
    margin-left: 13px;
}

.goods .product:nth-child(2n+2) {
    margin-right: 0;
}

.goods .product:hover .dots {
    background: #797979;
}

.goods .product:hover .slide {
    display: block;
}

.container .pagination_goods {
    font-size: 75%;
    margin-left: -13px;
}

.goods .product {
    position: relative;
    display: inline-block;
    margin-right: 76px;
    margin-bottom: 80px;
}

.product .slide {
    position: absolute;
    display: none;
    text-align: center;
    width: 200px;
    height: 200px;
    left: 20px;
    top: 20px;
    background: #fff;
    z-index: 2;
}

.slide .title {
    margin-top: 32px;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: 125%;
}

.slide .text {
    font-size: 87.5%;
    margin-bottom: 28px;
    padding: 0 30px;
}

.slide .btn_buy {
    display: inline-block;
    width: 140px;
    color: #fff;
    background: #fb565a;
    border-radius: 5px;
    line-height: 100%;
    padding: 11px 0;
}

.slide .btn_buy:hover {
    background: #d6494d;
}

.slide .btn_buy:active {
    background: #b63538;
}

.pagination_goods .btn_page {
    background: #f2f2f2;
    color: #000;
    padding: 11px 16px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 6px;
}

.pagination_goods .btn_page:hover {
    background: #e5e5e5;
    border-color: #e5e5e5;
}

.pagination_goods .btn_page:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.2);

}
.pagination_goods .btn_page.active {
    border: 2px solid #f2f2f2;
    padding: 9px 14px;
    background: #fff;
}

.pagination_goods .next_page {
    padding: 11px 32px;
    margin-right: 0;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
